
<div class="container my-5">
<p class=" text-center card-text text-justify text-center " style="color: rgb(1, 10, 17);">Whether its the holidays or occasions that we want to celebrate, greeting cards
    are fixed in Western cultures today
     and giving them to friends or acquaintances seems second nature to us.
     Greeting cards are a tradition that goes back to the early days of writing. 
     New Year festivals were initially the most common period when greeting cards were sent, 
     as they reflected a time where one would want to keep evil spirits away or ask for good fortune in the year.
      Valentine's day in the Medieval period became popular for greeting cards, but that period saw a 
      limited use for greeting cards. In the mid-19th century, Christmas cards became popularized
       and soon other holidays and birthdays began to
      adopt the idea of using greeting cards to send to family, friends, and loved ones.
   </p>

</div>