<div class="jumbotron-fluid w-100 text-center col-10  ">
    <h3 class="display-4 text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Gifts For a LifeTime</h3>
    <p class="lead text-center">Wonders Wrapped with Care</p>
    
    <div class="text-center">
        <a href="read-more" class="btn btn-dark" role="button">Read More</a>
    </div>
</div>
<hr>



<div class="card-deck p-5 ">
    <div class="card col-4 w-50 m-5 bg-dark">
        <div class="card-body bg-custom">
            <h4 class="card-title text-light text-center">BlackLovers</h4>
            <img class="card-img-top" src="/assets/card1.jpg" alt="cardss">
            <div class="text-center">
                <a href="#" class="btn btn-dark btn btn-outline-light" data-container="body" data-toggle="popover"
                    data-placement="bottom" data-content="INR 200">
                    Check Price
               </a>
            </div>

        </div>
    </div>
    <div class="card col-4 w-50 m-5 bg-dark">
        <div class="card-body">
            <h4 class="card-title text-center text-light">Pinkies</h4>
            <img class="card-img-top" src="/assets/1.jpg" alt="">
            <div class="text-center">
                <a href="# "class="btn btn-dark btn btn-outline-light" data-container="body" data-toggle="popover"
                    data-placement="bottom" data-content="INR 300">
                    Check Price
               </a>
            </div>

        </div>
    </div>
    <div class="card col-4 w-50 m-5 bg-dark">
        <div class="card-body">
            <h4 class="card-title text-center text-light">Blueberries</h4>
            <img class="card-img-top" src="./assets/111.jpg" alt="">
            <div class="text-center">
                <button class="btn btn-dark btn btn-outline-light" data-container="body" data-toggle="popover"
                    data-placement="bottom" data-content="INR 400">
                    Check Price
                </button>
            </div>

        </div>
    </div>

</div>


<div class="card-deck p-5">
    <div class="card col-4 w-50 m-5 bg-dark">
        <div class="card-body">
            <h4 class="card-title text-light text-center">BlackLovers</h4>
            <img class="card-img-top" src="/assets/4.jpg" alt="">
            <div class="text-center">
                <button class="btn btn-dark btn btn-outline-light" data-container="body" data-toggle="popover"
                    data-placement="bottom" data-content="INR 50">
                    Check Price
                </button>
            </div>

        </div>
    </div>
    <div class="card col-4 w-50 m-5 bg-dark">
        <div class="card-body">
            <h4 class="card-title text-center text-light">Yellow</h4>
            <img class="card-img-top" src="./assets/10.jpg" alt="">
            <div class="text-center">
                <button class="btn btn-dark btn btn-outline-light" data-container="body" data-toggle="popover"
                    data-placement="bottom" data-content="INR 50">
                    Check Price
                </button>
            </div>

        </div>
    </div>
    <div class="card col-4 w-50 m-5 bg-dark">
        <div class="card-body">
            <h4 class="card-title text-center text-light">Orange</h4>
            <img class="card-img-top" src="/assets/121.jpg" alt="">
            <div class="text-center">
                <button class="btn btn-dark btn btn-outline-light" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="INR 60">
                    Check Price
                </button>
            </div>

        </div>
    </div>
</div>


<br>
<a href="placeorder.html" class="btn btn-dark btn-lg btn-block display-5" role="button">Place Order</a>
<br>